@import "../iconsets/font-awesome/font-awesome";

@dbex-database: '\f1c0';
@dbex-table:    '\f0ce';
@dbex-pk:       '\f084';
@dbex-fk:       '\f084';
@dbex-uk:       '\f084';
@dbex-field:    '\f0c9';
@dbex-connected:'\f111';
@dbex-refresh:  '\f021';
@dbex-edit:     '\f040';
@dbex-delete:   '\f014';

@dbex-database-color: #939598;
@dbex-table-color: #DF6A73;
@dbex-pk-color: #E5C17C;
@dbex-fk-color: #a431c4;
@dbex-uk-color: #62bb57;
@dbex-field-color: #808080;
@dbex-connected-color: #f7d313;

.dbex-icon(@name) {
  font-family: 'dbex-icons';
  content: @@name;
}

.dbex-icon-colored(@name) {
  .dbex-icon(@name);
  @color: "@{name}-color";
  color: @@color;
}

.dbex-icon-fontawesome(@name) {
  font-family: 'FontAwesome';
  content: @@name;
}

.dbex-icon-fontawesome-colored(@name) {
  .dbex-icon-fontawesome(@name);
  @color: "@{name}-color";
  color: @@color;
}

.dbex-controls {
  background-color: #8888881a;
  padding: 0.375em;
  overflow-x: hidden;

  .header {
    min-width: 22em;
    padding: 2.5px 5px;
    line-height: 1.75;
  }

  .options-label {
    color: rgba(163, 168, 174, 0.6);
    position: relative;
  }

  .header-item {
    margin: 2.5px 0;
  }

  .btn-group-options {
    display: inline-flex;
    margin-top: -0.1em;
    line-height: 1.75;
  }

  .btn-group {
    flex: 1;
  }

  .btn-group-options .btn {
    padding: 0;
    font-size: 1.15em;
    width: 36px;
    line-height: 1.75;
  }

  .btn-group .btn {
    flex: 1;
  }

  .btn > .icon {
    width: 20px;
    height: 16px;
    vertical-align: middle;
    fill: currentColor;
    stroke: currentColor;
    pointer-events: none;
  }
}

[data-type="ResultList"].tab.sortable.active {
  background-color: green;
}

[data-type="ResultList"].tab.sortable {
  background-color: silver;

  > div.title {
    background-color: black;
    margin: 0px 0px 0px 3px;
  }
}

.dbex {
  padding-left: 0;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  li.list-nested-item:not(.has-children) > .list-item::before {
    content: ""!important;
  }

  li.structured > div > span {
    font-weight: 700;
  }

  .list-item:hover>.item-actions, .list-nested-item:hover>.item-actions {
    display: initial;
  }

  .item-actions {
    span.item-action {
      padding: 0px 2px;
      font-size: 16px;
      font-weight: normal;
      margin: 0px 2px;
    }

    position: absolute;
    right: 5px;
    display:none;
    color: rgba(163, 168, 174, 0.5);
  }

  .item-actions span.item-action:hover {
    color: #fff;
    cursor: pointer;
  }

  .selected {
    color: #fff!important;
  }

  div.heading {
    border-bottom: 1px solid #d9dbde3d;
    padding-bottom: 10px;
  }

  div.footer {
    border-top: 1px solid #d9dbde3d;
    padding-top: 10px;
  }

  section.content {
    padding: 10px 10px 10px 10px;
  }

  div.control-group {
    padding: 5px 0px;

    .checkbox {
      padding-left: 2.25em;

      > label {
        color: #a3a8ae;
        padding-left: 0;
        display: block;
      }

      input[type="checkbox"] {
        margin: 0.15em 0.75em 0 -2.25em;
      }

      .title {
        display: inline-block;
        font-size: 1.2em;
      }

      .description {
        color: rgba(163, 168, 174, 0.6);
      }
    }

    .title {
      font-size: 1.2em;
    }

    .description {
      color: rgba(163, 168, 174, 0.6);
    }

    > .controls {
      margin: 10px 0px;
    }

    select.form-control {
      color: #a3a8ae;
      border-color: #111314;
      background-color: #2b2e31;
    }

    .form-control {
      font-size: 1.25em;
      height: 2em;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .btn-default {
    height: initial;
    padding: 0 0.8em;
    font-size: 1.15em;
    line-height: 2em;
  }

  .navigator-tree-view {
    padding-left: .35em;
    padding-right: .7em;
  }

  .symbols-navigator-tree-view {
    padding-top: .5em;
  }

  span.icon {
    -webkit-user-select: none;

    &::before {
      width: 1.4em;
      font-size: 16px;
    }
  }

  .icon-delete::before {
    .dbex-icon-fontawesome(dbex-delete);
  }

  .icon-refresh::before {
    .dbex-icon-fontawesome(dbex-refresh);
  }

  .icon-edit::before {
    .dbex-icon-fontawesome(dbex-edit);
  }

  .icon-field::before {
    .dbex-icon-fontawesome-colored(dbex-field);
  }

  .icon-fk::before {
    .dbex-icon-fontawesome-colored(dbex-fk);
  }

  .icon-pk::before {
    .dbex-icon-fontawesome-colored(dbex-pk);
  }

  .icon-uk::before {
    .dbex-icon-fontawesome-colored(dbex-uk);
  }

  .icon-database::before {
    .dbex-icon-fontawesome-colored(dbex-database);
  }

  .icon-table::before {
    .dbex-icon-fontawesome-colored(dbex-table);
  }

  .details {
    -webkit-user-select: none;
    margin-left: .5em;
  }

  .vague {
    -webkit-animation: cssAnimation 3s forwards;
    animation: cssAnimation 3s forwards;
  }

  .vague-reverse {
    -webkit-animation: cssAnimation 3s reverse;
    animation: cssAnimation 3s reverse;
  }

  @keyframes cssAnimation {
      0%   {opacity: 1;}
      90%  {opacity: 1;}
      100% {opacity: 0;}
  }

  @-webkit-keyframes cssAnimation {
      0%   {opacity: 1;}
      90%  {opacity: 1;}
      100% {opacity: 0;}
  }
}
